.music-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom:0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    animation: start-screen 4s ease 0s 1 normal forwards;
    margin-left: auto;
    position:fixed;
  }
  
  
  /* Styling for the dialog buttons */
  .MuiButton-root {
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.4); /* Slight transparent background */
    color: white;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .MuiButton-root:hover {
    background: black;
  }
  
  /* Custom icon button styles */
  .MuiIconButton-root {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
  }
  
  .MuiIconButton-root:hover {
    color: "#9B4DFF"
  }
  
  /* Additional responsive styling for mobile screens */
  @media (max-width: 600px) {
    .MuiDialog-paper {
      width: 90%; /* Adjust dialog size */
    }
  }

  .MuiDialog-paper {
    background: rgba(0, 0, 0, 0.6); /* Darker background for contrast */
    backdrop-filter: blur(15px); /* Increased blur for a sharper glass effect */
    border-radius: 15px; /* Rounded corners for a more modern look */
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.5), 0 8px 30px rgba(0, 0, 0, 0.2); /* Glowing effect */
    border: 2px solid rgba(0, 255, 255, 0.7); /* Neon cyan border for a gaming vibe */
    padding: 20px; /* More space inside for content */
    font-family: 'future'; /* Futuristic font style */
    color: #ffffff; /* White text for better contrast */
  }
  