*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html{
  background-color: black;
}

@font-face {
  font-family: future;
  src: url('./assets/Sterion-BLLld.ttf');
}


body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #000000;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
  border: 2px solid #ffffff;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}